<!-- ======= Contact Section ======= -->
<br>
<br>
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Looking for Expert Medical Advice or Have Questions About Our Services? Reach Out and Let the Dedicated
                Team at 327
                Medical Professionals Assist You in Your Health Journey.</p>
            <h4 *ngIf="IsLoadingIframe" class="badge bg-info">Loading map...</h4>
        </div>
    </div>

    <div *ngIf="iframeUrl != null">
        <iframe style="border:0; width: 100%; height: 350px;" [src]="iframeUrl" allowfullscreen loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="container">
        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>327 EAST 1ST STREET SALIDA C0 <br> 81201-2801</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@327mediprof.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>719-941-5476</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input formControlName="name" type="text" name="name" class="form-control" id="name"
                                placeholder="Your Name (John Doe)" required>
                            <div *ngIf="getControl('name')?.invalid && getControl('name')?.touched">
                                <p *ngIf="hasError('name', 'required')" class="text-danger">Name is required.</p>
                            </div>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" formControlName="email" name="email" id="email"
                                placeholder="Your Email (example@gmail.com)" required>
                            <div *ngIf="getControl('email')?.invalid && getControl('email')?.touched">
                                <p *ngIf="hasError('email', 'required')" class="text-danger">Email is required.</p>
                                <p *ngIf="hasError('email', 'email')" class="text-danger">Please enter a valid email.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" formControlName="subject" name="subject" id="subject"
                            placeholder="Subject (Lab Test)" required>
                        <div *ngIf="getControl('subject')?.invalid && getControl('subject')?.touched">
                            <p *ngIf="hasError('subject', 'required')" class="text-danger">Subject is required.</p>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" formControlName="message" name="message" rows="5"
                            placeholder="Message (I am urinating often; I want to be examined and find out what is wrong with my system.)"
                            required></textarea>
                        <div *ngIf="getControl('message')?.invalid && getControl('message')?.touched">
                            <p *ngIf="hasError('message', 'required')" class="text-danger">Message is required.</p>
                        </div>
                    </div>
                    <div class="my-3">
                        <div *ngIf="IsLoading" class="loading">Loading</div>
                        <div *ngIf="errorMessage" class="error-message"> {{errorMessage}} </div>
                        <div *ngIf="successMessage != null" class="sent-message"> {{successMessage}} </div>
                    </div>
                    <div>
                        <button [ngClass]="contactForm.invalid ? 'disabled-form-btn text-center' : 'text-center'"
                            type="submit" [disabled]="contactForm.invalid">Send
                            Message</button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->