<div class="container mt-3" *ngIf="users != undefined">
    <h2>Welcome back {{token?.data?.username}}</h2>
    <p class="badge bg-success" *ngIf="successMessage != null">{{successMessage}}</p>
    <p class="badge bg-danger" *ngIf="errorMessage != null">{{errorMessage}}</p>
    <h4 class="badge bg-danger" *ngIf="IsDeleting">Deleting user...</h4>
    <br>
    <p class="badge bg-info text-dark" *ngIf="infoMessage != null">{{infoMessage}}</p>
    <br>

    <div class="card_container">

        <div class="card" *ngFor="let user of users">
            <img class="card-img-top" [src]="user?.profileURL == null ? defaultImgPath : user?.profileURL"
                [alt]="user?.username">
            <div class="card_left_item">
                <div class="card-body">
                    <div class="left mr-5 mb-3">

                        <span>Username</span>
                        <h4 class="card-title">{{user?.username}}</h4>
                        <span>Email </span>
                        <h5>{{user?.email}}</h5>
                    </div>
                    <div class="right">
                        <span class="mb-3">Role</span>
                        <h4 class="badge bg-success text-white mb-3 mr-3" *ngIf="user?.role === 'admin'">Admin</h4>
                        <h4 class="badge bg-info text-white mb-3 mr-3" *ngIf="user?.role !== 'admin'">User</h4>
                        <h5 class="badge bg-primary"></h5>
                    </div>
                </div>
                <button class="delete_btn btn btn-danger btn-small" (click)="deleteUser(user._id!)">Delete</button>
            </div>
        </div>

    </div>
    <div *ngIf="IsFetching" id="preloader"></div>
    <mat-paginator [length]="100" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChanged($event)">
    </mat-paginator>

</div>
<div *ngIf="IsFetching" id="preloader"></div>
<div class="badge p-2 m-auto text-center text-white bg-info" *ngIf="users == undefined"> No user
    found</div>