<!-- Button to Open the Modal -->
<div>
    <button type="button" class="mb-3 mr-4 btn btn-primary bg-primary text-white" data-bs-toggle="modal"
        data-bs-target="#REPLY_MESSAGE_MODAL">
        Respond
    </button>

    <!-- The Modal -->
    <div class="modal" id="REPLY_MESSAGE_MODAL">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="modal-title">Respond to this message</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h4> Copy the user email if you have not copied it.
                        Next to user email on the table is a copy button, copy the user email before clicking on the
                        reply button bellow.
                        Clicking on the reply button will take you to titan email where you can paste the user email and
                        compose a
                        respond mail to this user.
                    </h4>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a href="https://hostinger.titan.email/mail/" target="_blank" class="btn btn-primary">Reply</a>
                </div>

            </div>
        </div>
    </div>
</div>