<section id="doctors" class="doctors">
    <div class="container">

        <div class="section-title">
            <h2>Doctors & Health Care Providers</h2>
            <p>Our experienced and certified health care providers</p>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="member d-flex align-items-start">
                    <!-- <div class="pic"><img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div> -->
                    <div class="member-info">
                        <h4>Amy Caroline Beauprez</h4>
                        <span>Allopathic & Osteopathic Physicians/Family Medicine</span>
                        <p>Dr. Amy Caroline Beauprez is a Family Practice Specialist in Salida, Colorado. She
                            graduated with honors from University
                            Of Colorado School Of Medicine, Denver in 2018. Having more than 5 years of                            experience.
                        </p>
                        <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member d-flex align-items-start">
                    <!-- <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div> -->
                    <div class="member-info">
                        <h4>Daniel David Lombardo</h4>
                        <span>Allopathic & Osteopathic Physicians/Family Medicine</span>
                        <p>Dr. Daniel David Lombardo is a Family Practice Specialist in Salida, Colorado. He
                            graduated with honors from University
                            Of Florida College Of Medicine in 2012. Having more than 11 years of
                            experience.</p>
                        <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <!-- <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div> -->
                    <div class="member-info">
                        <h4>Jamie A Vollmerhausen</h4>
                        <span>Physician Assistants & Advanced Practice Nursing Providers/Physician Assistant</span>
                        <p>Jamie A Vollmerhausen is a Physician Assistant Specialist in Salida, Colorado. She
                            graduated with honors in 2016. Having
                            more than 7 years of diverse experiences.</p>
                        <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <!-- <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div> -->
                    <div class="member-info">
                        <h4>Matthew Burkley</h4>
                        <span>Allopathic & Osteopathic Physicians/Family Medicine</span>
                        <p>Dr. Matthew Burkley is a Family Practice Specialist in Salida, Colorado. He graduated
                            with honors from University Of
                            Utah School Of Medicine in 1994. Having more than 29 years of diverse experiences.
                        </p>
                        <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <!-- <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div> -->
                    <div class="member-info">
                        <h4>Matthew Burkley</h4>
                        <span>Allopathic & Osteopathic Physicians/Family Medicine</span>
                        <p>Dr. Matthew Burkley is a Family Practice Specialist in Salida, Colorado. He graduated
                            with honors from University Of
                            Utah School Of Medicine in 1994. Having more than 29 years of diverse experiences.
                        </p>
                        <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="member d-flex align-items-start">
                    <!-- <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div> -->
                    <div class="member-info">
                        <h4>Sarah Laing</h4>
                        <span>Nurse Practitioner/Family</span>
                        <p>Sarah Laing is a Nurse Practitioner Specialist in Salida, Colorado. She graduated with
                            honors in 2019. Having more than
                            4 years of experience.
                        </p>
                        <!-- <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div> -->
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>