<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" ></a> -->
            <iframe
                class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative"
                width="727" height="409" [src]="iframeUrl" title="One Health Hack From Every Type Of Doctor"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen loading="lazy">
            </iframe>
            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3> Who we are and our values in the society</h3>
                <p>327 Medical Prof Corp is a Medical Group that has only one practice medical office located in Salida
                    CO. There are 6
                    health care providers, specializing in Family Practice, Obstetrics/Gynecology, Sports Medicine,
                    Nurse Practitioner,
                    Physician Assistant.</p>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Unique Treatment</a></h4>
                    <p class="description">Our patience undergoes series of diagnosis to identify the illness and
                        kind of medicine that will work well for the patience.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Facilities</a></h4>
                    <p class="description">We have various health care and medical facilities to help in automated
                        and fast treatment.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bx bx-atom"></i></div>
                    <h4 class="title"><a href="">Medical Research</a></h4>
                    <p class="description">We conduct intensive medical research to help us deliver exceptionally
                        and professionally</p>
                </div>

            </div>
        </div>

    </div>
</section>