<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>provides a broad spectrum of services, primarily focused on healthcare delivery.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-hand-holding-medical"></i></div>
                    <h4><a href="">General Health Care</a></h4>
                    <p>We provide general health care designed to be the most patient-centric, focusing on the
                        broader health needs of individuals and communities and
                        ensuring everyone has access to basic medical services.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-person-pregnant"></i></div>
                    <h4><a href="">Obstetrics/Gynecology (OB/GYN)</a></h4>
                    <p>We provide services for both obstetrics and gynecology, enabling us to provide comprehensive
                        care for women at all
                        stages of life—from adolescence, through childbearing years, to post-menopause.</p>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-dumbbell"></i></div>
                    <h4><a href="">Sports Medicine</a></h4>
                    <p>We address issues like sprains, fractures, tendonitis, and overuse injuries, as well as
                        provide guidance on nutrition,
                        strength training, and conditioning to enhance athletic performance.
                        i.e We provide treatment, prevention, diagnosis, and rehabilitation of injuries and medical
                        conditions related to physical activity,
                        exercise, and sports</p>
                </div>
            </div>

        </div>

    </div>
</section>