<section id="departments" class="departments">
    <div class="container">

        <div class="section-title">
            <h2>Departments</h2>
            <p>Our department provide various medical services for patients which are listed below.</p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">General Health Care</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Obstetrics/Gynecology (OB/GYN)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Sports Medicine</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>General Health Care</h3>
                                <p>General healthcare, often referred to as primary healthcare,
                                    encompasses a broad range of essential health services
                                    provided to individuals and communities to ensure their overall well-being,
                                    prevent illness, and address basic health
                                    needs. The aim of general healthcare is to provide comprehensive, accessible,
                                    community-based care that meets the health
                                    needs of individuals throughout their life.
                                </p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Obstetrics/Gynecology</h3>
                                <p>Often, you'll hear the term "obstetrics and gynecology" (often abbreviated as
                                    OB/GYN) used together. While obstetrics
                                    specifically deals with pregnancy and childbirth, gynecology focuses on the
                                    broader health of the female reproductive
                                    system, from menstruation to menopause, and includes both medical and surgical
                                    care. Many physicians train in both
                                    specialties, allowing them to provide comprehensive care to women throughout
                                    their lives.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="../../../assets/img/gynocology.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Sports Medicine</h3>
                                <p>We provide a branch of medicine that deals with the prevention, diagnosis, treatment,
                                    and rehabilitation of injuries and
                                    medical conditions related to physical activity, exercise, and sports. It also
                                    focuses on improving athletes'
                                    performance and ensuring a safe participation in sports. Professionals in this field
                                    can be doctors, physical
                                    therapists, athletic trainers, and other healthcare providers who work with athletes
                                    and active individuals. They
                                    address issues like sprains, fractures, tendonitis, and overuse injuries, as well as
                                    provide guidance on nutrition,
                                    strength training, and conditioning to enhance athletic performance.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="../../../assets/img/sports_medicine.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>