<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3 class="why_choose_us">Why Choose 327 Medical Professional Corporation?</h3>
                    <p>
                        One of the primary benefits of 327 Medical Professional Corporation is the provision of
                        limited
                        liability protection for
                        the medical professional.
                        This means that their personal assets are protected in case the corporation faces legal or
                        financial issues.
                    </p>
                    <div class="text-center">
                        <a href="#about" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h4>Patient Care</h4>
                                <p>At the core of any MPC is the provision of medical care. This includes
                                    consultation, diagnosis, treatment, and follow-up
                                    care for patients.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Specialist Referrals</h4>
                                <p>If a patient's condition requires specialized attention, MPCs coordinate and
                                    manage referrals to appropriate
                                    specialists.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h4>Health Promotion and Education</h4>
                                <p>MPCs often provide education about various health conditions, preventive
                                    measures, and lifestyle modifications to
                                    improve patient health and wellbeing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section>