<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>Comprehensive Insights into Achieving and Maintaining Optimal Health: A Guided FAQ Compilation on
                Diet, Exercise,
                Lifestyle Choices, Stress Management, and Understanding Key Health Indicators</p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                        data-bs-target="#faq-list-1">How can I maintain a healthy weight?<i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            A healthy diet is one that helps maintain or improve overall health. It provides the
                            body with essential nutrition:
                            fluid, adequate essential amino acids from protein, essential fatty acids, vitamins,
                            minerals, and adequate calories.
                            The requirements for a healthy diet can be met from a variety of plant-based and
                            animal-based foods. A healthy diet also
                            includes limiting intake of junk and processed foods, and foods high in sugar and
                            saturated fats.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-2" class="collapsed">How often should I exercise?
                        <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            For most adults, the Department of Health and Human Services recommends at least 150
                            minutes of moderate aerobic
                            activity or 75 minutes of vigorous aerobic activity a week, or a combination of moderate
                            and vigorous activity. It's
                            best to spread this activity throughout the week. Strength training exercises for all
                            major muscle groups at least two
                            times a week are also recommended.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-3" class="collapsed">What are the risks of smoking and alcohol?
                        <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>Smoking and excessive alcohol consumption can lead to various health problems. Smoking
                            primarily increases the risk of
                            lung cancer and other respiratory diseases, while alcohol abuse can lead to liver
                            disease, heart disease, and an
                            increased risk of accidents. Both can lead to addiction and other mental health
                            problems.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-4" class="collapsed">How can I manage stress? <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Stress can be managed in various ways. This includes regular exercise, getting
                            sufficient sleep, eating a healthy diet,
                            taking time for relaxation and leisure activities, practicing mindfulness and
                            meditation, and talking about your
                            problems with friends, family, or a mental health professional.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-5" class="collapsed">What is a normal blood pressure range? <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Normal blood pressure for adults is a systolic pressure below 120 mmHg and a diastolic
                            pressure below 80 mmHg. This is
                            often expressed as 120/80.
                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section>